.hero{
    background-color: bisque;
    background-image: url("../../images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120vh;
    width: 100%;
}
.hero .hero-container{
    padding-top: 15%;
}
.hero h1 {
    color: #fff;
    font-size: 60px;
  }
  .hero p {
    color: #222020
  }
  .form-flex{
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding:  20px;
  }
  .form-flex input{
    padding: 15px;
    width: 100%;
   border: 1px solid rgba(128, 128, 128, 0.2);
   margin-top: 5px;
   border-radius: 5px; 
  }
  .btn-search{
    padding: 10px;
  }
 
  form span {
    font-size: 14px;
    color: grey;
  }
  #input::placeholder {
    font-size: 17px;
    color: black;
  }
  form .box {
    padding: 15px;
    border-left: 2px solid rgba(128, 128, 128, 0.2);
  }
  form .box:nth-child(1) {
    border-left: none;
  }
  form h4 {
    font-weight: 500;
  }
  @media screen and (max-width: 600px) {
.hero .hero-container{
    padding-top:30%;
 
}
.form-flex{

    flex-wrap: wrap;
   
}
form .box {
    border-left: none;
  }
  form input {
    width: 100%;
  
  
  }
  }